<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /* align-items: center; */
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this inside <head> -->
        <title>Home Page</title>
        <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>WelCome URL Shortener</h1>
<div class="link">
    <form method="POST" action="/url">
        <label>Past Your long link here</label>
        <input type="text" name="url" placeholder="https://example.com">
        <button type="submit">Get your link</button>
    </form>
</div>
<% if (locals.id) { %>
    <div class="url">
   <!-- <p>URL Generated: http://localhost:5000/url/<%= id %></p> -->
   <!-- <p>URL Generated: href='http://localhost:5000/url/<%= id %>'</p> -->
    <p>
        URL Generated:
        <a href='http://localhost:5000/url/<%= id %>' target="_blank">
            http://localhost:5000/url/<%= id %>
        </a>
    </p>
</div>
   <% } %>
<div class="dashboard">
     <% if (locals.urls) { %>
    <table>
        <thead>
            <th>S. No</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
        </thead>
        
        <tbody>
            <br>
            <% urls.forEach((url, index) => { %>
             <tr>
             <td><%= index + 1 %></td>

             <td>
                <a href="/url/<%= url.shortId %>" target="_blank">
                 <%= url.shortId %>
                </a>
             </td>
            <td>
                <a href="<%= url.redirectURL %>" target="_blank">
                 <%= url.redirectURL %>
                </a> 
            </td>
             <!-- <td><%= url.shortId %></td>
             <td><%= url.redirectURL %></td> -->
             <td><%= url.visitHistory.length %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>   
    <% } %>
</div>
</body>
</html>